<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{alarm.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{alarm.list.headline}]]</h1>
                <div>
                    <a th:href="@{/alarms/add}" class="btn btn-primary ms-2">[[#{alarm.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${alarms.empty}">[[#{alarm.list.empty}]]</div>
            <div th:if="${!alarms.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{alarm.alarmId.label}]]</th>
                            <th scope="col">[[#{alarm.content.label}]]</th>
                            <th scope="col">[[#{alarm.alarmType.label}]]</th>
                            <th scope="col">[[#{alarm.readState.label}]]</th>
                            <th scope="col">[[#{alarm.userId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="alarm : ${alarms}">
                            <td>[[${alarm.alarmId}]]</td>
                            <td>[[${alarm.content}]]</td>
                            <td>[[${alarm.alarmType}]]</td>
                            <td>[[${alarm.readState}]]</td>
                            <td>[[${alarm.userId}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/alarms/edit/{alarmId}(alarmId=${alarm.alarmId})}" class="btn btn-sm btn-secondary">[[#{alarm.list.edit}]]</a>
                                    <form th:action="@{/alarms/delete/{alarmId}(alarmId=${alarm.alarmId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{alarm.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
