<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{oldExamFile.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{oldExamFile.list.headline}]]</h1>
                <div>
                    <a th:href="@{/oldExamFiles/add}" class="btn btn-primary ms-2">[[#{oldExamFile.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${oldExamFiles.empty}">[[#{oldExamFile.list.empty}]]</div>
            <div th:if="${!oldExamFiles.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{oldExamFile.oefId.label}]]</th>
                            <th scope="col">[[#{oldExamFile.uuid.label}]]</th>
                            <th scope="col">[[#{oldExamFile.src.label}]]</th>
                            <th scope="col">[[#{oldExamFile.fileName.label}]]</th>
                            <th scope="col">[[#{oldExamFile.oeId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="oldExamFile : ${oldExamFiles}">
                            <td>[[${oldExamFile.oefId}]]</td>
                            <td>[[${oldExamFile.uuid}]]</td>
                            <td>[[${oldExamFile.src}]]</td>
                            <td>[[${oldExamFile.fileName}]]</td>
                            <td>[[${oldExamFile.oeId}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/oldExamFiles/edit/{oefId}(oefId=${oldExamFile.oefId})}" class="btn btn-sm btn-secondary">[[#{oldExamFile.list.edit}]]</a>
                                    <form th:action="@{/oldExamFiles/delete/{oefId}(oefId=${oldExamFile.oefId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{oldExamFile.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
