<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{groupProject.add.headline}]]</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{groupProject.add.headline}]]</h1>
        <div>
            <a th:href="@{/groupProjects/{lectureId}(lectureId=${selectedLecture.lectureId})}" class="btn btn-secondary">[[#{groupProject.add.back}]]</a>
        </div>
    </div>
    <div th:replace="~{fragments/forms::globalErrors('groupProject')}" />
    <form th:action="@{/groupProjects/add/{lectureId}(lectureId=${selectedLecture.lectureId})}"
          th:object="${groupProject}"
          method="post">
        <div th:replace="~{fragments/forms::inputRow(object='groupProject', field='groupName', required=true)}" />
        <div th:replace="~{fragments/forms::inputRow(object='groupProject', field='groupDetail', type='textarea')}" />
        <div th:if="${user.grade == 'TA'}">
            <input type="hidden" th:name="createdUserId" th:value="${user}" />
        </div>
        <div th:if="${user.grade != 'TA'}">
            <div th:replace="~{fragments/forms::inputRow(object='groupProject', field='createdUserId', required=true, type='select')}" />
            <div th:replace="~{fragments/forms::inputRow(object='groupProject', field='groupValid',required=true, type='checkbox')}" />
        </div>
        <input type="hidden" th:name="lectureId" th:value="${selectedLecture.lectureId}" />
        <input type="text" name="stdId1" placeholder="Student ID 1" class="form-control mb-2" />
        <input type="text" name="stdId2" placeholder="Student ID 2" class="form-control mb-2" />
        <input type="text" name="stdId3" placeholder="Student ID 3" class="form-control mb-2" />
        <input type="submit" th:value="#{groupProject.add.headline}" class="btn btn-primary mt-4" />
    </form>

    <!-- 학생 리스트 출력 -->
    <div class="mt-5">
        <div class="table-responsive">
            <table th:if="${lectureUsers != null}">
                <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${lectureUsers}">
                    <td th:text="${student.user.stdId}"></td>
                    <td th:text="${student.user.name}"></td>
                    <td th:text="${student.user.email}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
