<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{groupProject.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">팀플게시판</h1>
                <div th:if="${prof != 'prof'}">
                <a th:href="@{/groupProjects/add/{lectureId}(lectureId=${selectedLecture.lectureId})}"
                   class="btn btn-primary ms-2">[[#{groupProject.list.createNew}]]</a>
            </div>
            </div>
            <div th:if="${groupProjects.empty}">[[#{groupProject.list.empty}]]</div>
            <div th:if="${!groupProjects.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{groupProject.gpId.label}]]</th>
                            <th scope="col">[[#{groupProject.groupValid.label}]]</th>
                            <th scope="col">[[#{groupProject.groupName.label}]]</th>
                            <th scope="col">[[#{groupProject.createdUserId.label}]]</th>
                            <th scope="col">[[#{groupProject.lectureId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="groupProject : ${paging.content}"
                            th:onclick="|window.location='/groupProjects/detail/' + ${selectedLecture.lectureId} + '/' + ${groupProject.gpId}|"
                            style="cursor: pointer;">
                            <td>[[${groupProject.gpId}]]</td>
                            <td>[[${groupProject.groupValid}]]</td>
                            <td>[[${groupProject.groupName}]]</td>
                            <td>[[${groupProject.createdUserId.name}]]</td>
                            <td>[[${groupProject.lectureId.name}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/groupProjects/edit/{lectureId}/{gpId}(lectureId=${selectedLecture.lectureId}, gpId=${groupProject.gpId})}" class="btn btn-sm btn-secondary"
                                       onclick="event.stopPropagation();">
                                    [[#{groupProject.list.edit}]]</a>
                                    <form th:action="@{/groupProjects/delete/{lectureId}/{gpId}(lectureId=${selectedLecture.lectureId},gpId=${groupProject.gpId})}"
                                          th:hx-confirm="#{delete.confirm}" method="post" class="d-inline" onclick="event.stopPropagation();">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{groupProject.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
