<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <head>
            <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">signup</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
            <link th:href="@{/css/app.css}" rel="stylesheet" />
            <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
            <script th:src="@{/webjars/htmx.org/2.0.3/dist/htmx.min.js}" defer></script>
            <script th:src="@{/js/app.js}" defer></script>
        </head>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{user.add.headline}]]</h1>
                <div>
                    <a th:href="@{/users}" class="btn btn-secondary">[[#{user.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('user')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='user', field='stdId', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='user', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='user', field='nickname', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='user', field='password', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='user', field='email', required=true)}" />
<!--                <div th:replace="~{fragments/forms::inputRow(object='user', field='grade', required=true, type='select')}" />-->
                <input type="submit" th:value="#{user.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
