<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{questionComment.add.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{questionComment.add.headline}]]</h1>
        <div>
            <a th:href="@{/questionComments}" class="btn btn-secondary">[[#{questionComment.add.back}]]</a>
        </div>
    </div>
    <div th:replace="~{fragments/forms::globalErrors('questionComment')}" />
    <form th:action="${requestUri}" method="post">
        <!-- Comment Content -->
        <div th:replace="~{fragments/forms::inputRow(object='questionComment', field='content', required=true)}" />

        <!-- Author: Automatically set to session user -->
        <input type="hidden" name="author" th:value="${#authentication.principal.username}" />

        <!-- Question ID: Passed dynamically -->
        <input type="hidden" name="qId" th:value="${questionId}" />

        <!-- Submit Button -->
        <input type="submit" th:value="#{questionComment.add.headline}" class="btn btn-primary mt-4" />
    </form>
</div>
</body>
</html>
