<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{questionComment.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{questionComment.edit.headline}]]</h1>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('questionComment')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='questionComment', field='qcomId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='questionComment', field='content', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='questionComment', field='author', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='questionComment', field='qId', required=true, type='select')}" />
                <input type="submit" th:value="#{questionComment.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
