<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{questionBoard.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">Question board</h1>
                <div>
                    <a th:href="@{/questionBoards/add}" class="btn btn-primary ms-2">[[#{questionBoard.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${questionBoards.empty}">[[#{questionBoard.list.empty}]]</div>
            <div th:if="${!questionBoards.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">[[#{questionBoard.title.label}]]</th>
                            <th scope="col">[[#{questionBoard.author.label}]]</th>
                            <th scope="col">Lecture</th>
                            <th scope="col">[[#{questionBoard.warnCount.label}]]</th>
                            <th scope="col">[[#{questionBoard.likeCount.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="questionBoard : ${questionBoards}"
                            th:onclick="|window.location='@{/questionBoards/detail/{questionId}(questionId=${questionBoard.questionId})}'|"
                            style="cursor: pointer;">
                            <td>[[${questionBoard.questionId}]]</td>
                            <td>[[${questionBoard.title}]]</td>
                            <td>[[${questionBoard.author.name}]]</td>
                            <td>[[${questionBoard.lectureId.name}]]</td>
                            <td>[[${questionBoard.warnCount}]]</td>
                            <td>[[${questionBoard.likeCount}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/questionBoards/edit/{questionId}(questionId=${questionBoard.questionId})}" class="btn btn-sm btn-secondary"
                                       onclick="event.stopPropagation();">[[#{questionBoard.list.edit}]]</a>
                                    <form th:action="@{/questionBoards/delete/{questionId}(questionId=${questionBoard.questionId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline" onclick="event.stopPropagation();">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{questionBoard.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <!-- Pagination -->
                <nav class="pagination-container">
                    <ul class="pagination mb-0">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/questionBoards?page=1}">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{/questionBoards?page=2}">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{/questionBoards?page=3}">3</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </body>
</html>
