<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{sharingComment.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{sharingComment.list.headline}]]</h1>
                <div>
                    <a th:href="@{/sharingComments/add}" class="btn btn-primary ms-2">[[#{sharingComment.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${sharingComments.empty}">[[#{sharingComment.list.empty}]]</div>
            <div th:if="${!sharingComments.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{sharingComment.shcomId.label}]]</th>
                            <th scope="col">[[#{sharingComment.author.label}]]</th>
                            <th scope="col">[[#{sharingComment.shId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sharingComment : ${sharingComments}">
                            <td>[[${sharingComment.shcomId}]]</td>
                            <td>[[${sharingComment.author}]]</td>
                            <td>[[${sharingComment.shId}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/sharingComments/edit/{shcomId}(shcomId=${sharingComment.shcomId})}" class="btn btn-sm btn-secondary">[[#{sharingComment.list.edit}]]</a>
                                    <form th:action="@{/sharingComments/delete/{shcomId}(shcomId=${sharingComment.shcomId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{sharingComment.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
