<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{communicationBoard.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{communicationBoard.add.headline}]]</h1>
                <div>
                    <a th:href="@{/communicationBoards/{lectureId}(lectureId=${selectedLecture.lectureId})}" class="btn btn-secondary">[[#{communicationBoard.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('communicationBoard')}" />
            <form th:action="@{/communicationBoards/add/{lectureId}(lectureId=${selectedLecture.lectureId})}" method="post"
                  th:object="${communicationBoard}">
                <div th:replace="~{fragments/forms::inputRow(object='communicationBoard', field='content', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='communicationBoard', field='maxnum', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='communicationBoard', field='valid', type='checkbox')}" />
                <input type="hidden" th:name="authorId" th:value="${user}"/>
                <input type="hidden" th:name="lectureId" th:value="${selectedLecture.lectureId}" />
                <input type="submit" th:value="#{communicationBoard.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
