<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Communication board detail</title>
</head>
<body>
<div layout:fragment="content" class="container mt-3">
  <!-- Title -->
  <div class="mb-4">
    <h1 class="fw-bold text-primary" th:text="${communicationBoard.title}"></h1>
  </div>

  <!-- Communication Card -->
  <div class="card">
    <div class="card-body">
      <!-- Content -->
      <p class="card-text fs-5" th:text="${communicationBoard.content}"></p>

      <!-- Metadata -->
      <hr>
      <div class="d-flex justify-content-end">
        <div class="text-muted">
          <span>Author:</span>
          <span class="fw-bold ms-2"
                th:class="${communicationBoard.author.grade.name() == 'TA'} ? 'fw-bold ms-2 text-primary'
                           : (${communicationBoard.author.grade.name() == 'PROF'} ? 'fw-bold ms-2 text-info' : 'fw-bold ms-2 text-dark')"
                th:text="${communicationBoard.author.nickname + ' (' + communicationBoard.author.grade + ')'}">
                    </span>
          <span class="text-muted ms-3">Lecture:</span>
          <span class="fw-bold text-dark" th:text="${communicationBoard.lectureId.name}"></span>
          <!-- <span class="fw-bold text-dark">Created At:</span> -->
          <!-- <span class="fw-bold text-dark" th:text="${#dates.format(noticeBoard.dateCreated, 'yyyy-MM-dd HH:mm')}"></span> -->
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-4">
    <!-- Back Button -->
    <a th:href="@{/communicationBoards/{lectureId}(lectureId=${selectedLecture.lectureId})}" class="btn btn-outline-primary">
      Back to Communication Board
    </a>
  </div>
</div>
</body>
</html>
