<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{communicationBoard.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">만남 게시판</h1>
                <div th:if="${user.grade.name() == 'PROF'}">
                    <a th:href="@{/communicationBoards/add/{lectureId}(lectureId=${selectedLecture.lectureId})}"
                       class="btn btn-primary ms-2">
                        [[#{communicationBoard.list.createNew}]]
                    </a>
                </div>
            </div>
            <div th:if="${communicationBoards.empty}">[[#{communicationBoard.list.empty}]]</div>
            <div th:if="${!communicationBoards.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">[[#{communicationBoard.author.label}]]</th>
                            <th scope="col">Lecture</th>
                            <th scope="col">Attendee</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="communicationBoard : ${paging.content}"
                            th:onclick="|window.location='/communicationBoards/detail/' + ${selectedLecture.lectureId} + '/' + ${communicationBoard.comnId}|"
                            style="cursor: pointer;">
                            <td>[[${communicationBoard.comnId}]]</td>
                            <td>[[${communicationBoard.title}]]</td>
                            <td>
                                <span th:class="${communicationBoard.author.grade.name() == 'TA'} ? 'fw-bold text-primary'
                                   : (${communicationBoard.author.grade.name() == 'PROF'} ? 'fw-bold text-info' : 'text-dark')"
                                      th:text="${communicationBoard.author.nickname + ' (' + communicationBoard.author.grade + ')'}"></span>
                            </td>
                            <td>[[${communicationBoard.lectureId.name}]]</td>
                            <td>[[${communicationBoard.likeCount}]] / [[${communicationBoard.maxnum}]]</td>
                            <td>
                                <div class="float-end text-nowrap" th:if="${user.grade.name() == 'PROF'}">
                                    <a th:href="@{/communicationBoards/edit/{lectureId}/{comnId}(lectureId=${selectedLecture.lectureId}, comnId=${communicationBoard.comnId})}" class="btn btn-sm btn-secondary"
                                       onclick="event.stopPropagation();">[[#{communicationBoard.list.edit}]]</a>
                                    <form th:action="@{/communicationBoards/delete/{lectureId}/{comnId}(lectureId=${selectedLecture.lectureId}, comnId=${communicationBoard.comnId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline" onclick="event.stopPropagation();">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{communicationBoard.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-3" th:if="${not #lists.isEmpty(communicationBoards)}">
                <!-- Pagination -->
                <nav class="pagination-container">
                    <ul class="pagination mb-0">
                        <!-- Previous Page -->
                        <li th:classappend="${paging.first} ? 'disabled' : ''" class="page-item">
                            <a class="page-link" th:href="@{/communicationBoards{lectureId}(lectureId=${lectureId}, page=${paging.number - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- Page Numbers -->
                        <li th:each="i : ${#numbers.sequence(0, paging.totalPages - 1)}"
                            th:classappend="${i == paging.number} ? 'active' : ''"
                            class="page-item">
                            <a class="page-link" th:href="@{/communicationBoards{lectureId}(lectureId=${lectureId}, page=${i})}" th:text="${i + 1}">1</a>
                        </li>

                        <!-- Next Page -->
                        <li th:classappend="${paging.last} ? 'disabled' : ''" class="page-item">
                            <a class="page-link" th:href="@{/communicationBoards/{lectureId}(lectureId=${lectureId}, page=${paging.number + 1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>
