<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{noticeBoard.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{noticeBoard.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/noticeBoards/{lectureId}(lectureId=${selectedLecture.lectureId})}" class="btn btn-secondary">[[#{noticeBoard.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('noticeBoard')}" />
            <form th:action="@{/noticeBoards/edit/{lectureId}/{noticeId}(lectureId=${selectedLecture.lectureId}, noticeId=${noticeBoard.noticeId})}" method="post"
                    th:object="${noticeBoard}">
                <div th:replace="~{fragments/forms::inputRow(object='noticeBoard', field='title', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='noticeBoard', field='content', required=true, type='textarea')}" />
                <input type="hidden" th:name="authorId" th:value="${user}"/>
                <input type="hidden" th:name="lectureId" th:value="${selectedLecture.lectureId}" />
                <input type="submit" th:value="#{noticeBoard.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
