<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>Notice board</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">공지게시판</h1>
                <div th:if="${user.grade.name() == 'PROF' || user.grade.name() == 'TA'}">
                    <a th:href="@{/noticeBoards/add/{lectureId}(lectureId=${selectedLecture.lectureId})}"
                       class="btn btn-primary ms-2">
                        [[#{noticeBoard.list.createNew}]]
                    </a>
                </div>
            </div>
            <div th:if="${noticeBoards.empty}">[[#{noticeBoard.list.empty}]]</div>
            <div th:if="${!noticeBoards.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">[[#{noticeBoard.title.label}]]</th>
                            <th scope="col">[[#{noticeBoard.author.label}]]</th>
                            <th scope="col">Lecture</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="noticeBoard : ${paging.content}"
                        th:onclick="|window.location='/noticeBoards/detail/' + ${selectedLecture.lectureId} + '/' + ${noticeBoard.noticeId}|"
                        style="cursor: pointer;">
                        <td>[[${noticeBoard.noticeId}]]</td>
                        <td>[[${noticeBoard.title}]]</td>
                        <td>[[${noticeBoard.author.nickname + '(' + noticeBoard.author.grade + ')'}]]</td>
                        <td>[[${noticeBoard.lectureId.name}]]</td>
                        <td>
                            <div class="float-end text-nowrap" th:if="${user.stdId == noticeBoard.author.stdId}">
                                <!-- Edit Button -->
                                <a th:href="@{/noticeBoards/edit/{lectureId}/{noticeId}(lectureId=${selectedLecture.lectureId}, noticeId=${noticeBoard.noticeId})}"
                                   class="btn btn-sm btn-secondary"
                                   onclick="event.stopPropagation();">[[#{noticeBoard.list.edit}]]</a>
                                <!-- Delete Button -->
                                <form th:action="@{/noticeBoards/delete/{lectureId}/{noticeId}(lectureId=${selectedLecture.lectureId}, noticeId=${noticeBoard.noticeId})}"
                                      th:hx-confirm="#{delete.confirm}" method="post" class="d-inline"
                                      onclick="event.stopPropagation();">
                                    <button type="submit" class="btn btn-sm btn-secondary">[[#{noticeBoard.list.delete}]]</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-3" th:if="${not #lists.isEmpty(noticeBoards)}">
                <!-- Pagination -->
                <nav class="pagination-container">
                    <ul class="pagination mb-0">
                        <!-- Previous Page -->
                        <li th:classappend="${paging.first} ? 'disabled' : ''" class="page-item">
                            <a class="page-link" th:href="@{/noticeBoards/{lectureId}(lectureId=${lectureId}, page=${paging.number - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- Page Numbers -->
                        <li th:each="i : ${#numbers.sequence(0, paging.totalPages - 1)}"
                            th:classappend="${i == paging.number} ? 'active' : ''"
                            class="page-item">
                            <a class="page-link" th:href="@{/noticeBoards/{lectureId}(lectureId=${lectureId}, page=${i})}" th:text="${i + 1}">1</a>
                        </li>

                        <!-- Next Page -->
                        <li th:classappend="${paging.last} ? 'disabled' : ''" class="page-item">
                            <a class="page-link" th:href="@{/noticeBoards/{lectureId}(lectureId=${lectureId}, page=${paging.number + 1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>
