<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{lectureRequest.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">강의요청 게시판</h1>
                <div th:if="${user.grade.name() == 'STD'}">
                    <a th:href="@{/lectureRequests/add/{lectureId}(lectureId=${selectedLecture.lectureId})}" class="btn btn-primary ms-2">[[#{lectureRequest.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${lectureRequests.empty}">[[#{lectureRequest.list.empty}]]</div>
            <div th:if="${!lectureRequests.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">[[#{lectureRequest.title.label}]]</th>
                            <th scope="col">Author</th>
                            <th scope="col">Lecture</th>
                            <th scope="col">Like</th>
                            <th scope="col">Approval</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="lectureRequest : ${paging.content}"
                            th:onclick="|window.location='/lectureRequests/detail/' + ${selectedLecture.lectureId} + '/' + ${lectureRequest.rqId}|"
                            style="cursor: pointer;">
                            <td>[[${lectureRequest.rqId}]]</td>
                            <td>[[${lectureRequest.title}]]</td>
                            <td>[[${lectureRequest.author.nickname + '(' + lectureRequest.author.grade + ')'}]]</td>
                            <td>[[${lectureRequest.lectureId.name}]]</td>
                            <td>[[${lectureRequest.likeCount}]]</td>
                            <td>[[${lectureRequest.lectureValid}]]</td>
                            <td>
                                <div class="float-end text-nowrap" th:if="${user.grade.name() == 'LEADER' or user.stdId == lectureRequest.author.stdId}">
                                    <a th:href="@{/lectureRequests/edit/{lectureId}/{rqId}(lectureId=${selectedLecture.lectureId}, rqId=${lectureRequest.rqId})}" class="btn btn-sm btn-secondary"
                                       onclick="event.stopPropagation();">[[#{lectureRequest.list.edit}]]</a>
                                    <form th:action="@{/lectureRequests/delete/{lectureId}/{rqId}(lectureId=${selectedLecture.lectureId}, rqId=${lectureRequest.rqId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline" onclick="event.stopPropagation();">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{lectureRequest.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-3" th:if="${not #lists.isEmpty(lectureRequests)}">
                <!-- Pagination -->
                <nav class="pagination-container">
                    <ul class="pagination mb-0">
                        <!-- Previous Page -->
                        <li th:classappend="${paging.first} ? 'disabled' : ''" class="page-item">
                            <a class="page-link" th:href="@{/lectureRequests{lectureId}(lectureId=${lectureId}, page=${paging.number - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- Page Numbers -->
                        <li th:each="i : ${#numbers.sequence(0, paging.totalPages - 1)}"
                            th:classappend="${i == paging.number} ? 'active' : ''"
                            class="page-item">
                            <a class="page-link" th:href="@{/lectureRequests/{lectureId}(lectureId=${lectureId}, page=${i})}" th:text="${i + 1}">1</a>
                        </li>

                        <!-- Next Page -->
                        <li th:classappend="${paging.last} ? 'disabled' : ''" class="page-item">
                            <a class="page-link" th:href="@{/lectureRequests/{lectureId}(lectureId=${lectureId}, page=${paging.number + 1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>
