<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Sharing board detail</title>
</head>
<body>
<div layout:fragment="content" class="container mt-3">
    <!-- Title -->
    <div class="mb-4">
        <h1 class="fw-bold text-primary" th:text="${sharingBoard.title}"></h1>
    </div>

    <!-- Sharing Card -->
    <div class="card">
        <div class="card-body">
            <!-- Content -->
            <p class="card-text fs-5" th:text="${sharingBoard.content}"></p>

            <!-- Metadata -->
            <hr>
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <button
                            class="btn btn-outline-warning btn-sm me-3"
                            th:data-post-id="${sharingBoard.sharingId}"
                            th:data-user-id="${user.stdId}"
                            th:data-board-type="SHARING_BOARD"
                            onclick="handleLikeButtonClick(this)">
                        👍 Like <span class="badge bg-warning like-count" th:text="${sharingBoard.likeCount}"></span>
                    </button>
                    <button
                            class="btn btn-outline-danger btn-sm me-3"
                            th:data-post-id="${sharingBoard.sharingId}"
                            th:data-user-id="${user.stdId}"
                            th:data-board-type="SHARING_BOARD"
                            onclick="handleWarnButtonClick(this)">
                        👎 Warn <span class="badge bg-danger warn-count" th:text="${sharingBoard.warnCount}"></span>
                    </button>
                </div>
                <div class="d-flex align-items-center text-muted">
                    <span>Author:</span>
                    <span class="fw-bold ms-2"
                          th:class="${sharingBoard.userId.grade.name() == 'TA'} ? 'fw-bold ms-2 text-primary'
                           : (${sharingBoard.userId.grade.name() == 'PROF'} ? 'fw-bold ms-2 text-info' : 'fw-bold ms-2 text-dark')"
                          th:text="${sharingBoard.userId.nickname + ' (' + sharingBoard.userId.grade + ')'}">
                    </span>
                    <span class="text-muted ms-4">Lecture:</span>
                    <span class="fw-bold text-dark ms-2" th:text="${sharingBoard.lectureId.name}"></span>
                </div>
            </div>
        </div>
    </div>
    <hr style="width: 30%; margin: 4rem auto 2rem auto; border: 2px solid #ccc;">
    <div class="mt-5" th:if="${#lists.size(sharingComment) > 0}">
        <h4 class="text-secondary">댓글 목록</h4>
        <ul class="list-group mt-3">
            <li class="list-group-item d-flex justify-content-between align-items-start" th:each="comment : ${sharingComment}">
                <div class="ms-2 me-auto">
                    <!-- 댓글 내용 -->
                    <div class="fw-bold"
                         th:classappend="${user.stdId == comment.author.stdId} ? 'text-danger'
            : (${comment.author.grade.name() == 'TA'} ? 'text-primary'
            : (${comment.author.grade.name() == 'PROF'} ? 'text-danger' : 'text-dark'))"
                         th:text="${comment.author.nickname + ' ( ' + comment.author.grade + ' ) '}">
                        작성자 이름 - 등급
                    </div>
                    <span th:text="${comment.content}">댓글 내용</span>
                </div>
                <div th:if="${user.stdId == comment.author.stdId
                     or user.grade.name() == 'PROF'
                     or user.grade.name() == 'TA'
                     or user.grade.name() == 'LEAD'}">
                    <a th:href="@{/sharingComments/edit/{lectureId}/{shcomId}(lectureId=${selectedLecture.lectureId}, shcomId=${comment.shcomId})}"
                       class="btn btn-sm btn-secondary">edit</a>
                    <form th:action="@{/sharingComments/delete/{lectureId}/{shcomId}(lectureId=${selectedLecture.lectureId}, shcomId=${comment.shcomId})}"
                          method="post" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-secondary">delete</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <!-- 댓글 작성 -->
        <h4 class="text-secondary mt-5">댓글 작성</h4>
        <ul class="list-group mt-4">
            <li class="list-group-item">
                <form th:action="@{/sharingComments/add/{sharingId}(sharingId=${sharingBoard.sharingId})}" method="post" class="d-flex flex-column">
                    <label for="exampleTextarea" class="form-label fw-bold">
                        <span th:text="${user.nickname} + ' (' + ${user.grade} + ')'"></span>
                    </label>
                    <textarea class="form-control mb-3" id="exampleTextarea" name="content" rows="3" placeholder="댓글을 입력하세요..."></textarea>
                    <input type="hidden" th:name="lectureId" th:value="${selectedLecture.lectureId}" />
                    <button type="submit" class="btn btn-secondary align-self-start">댓글 등록</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <!-- Back Button -->
        <a th:href="@{/sharingBoards/{lectureId}(lectureId=${selectedLecture.lectureId})}" class="btn btn-outline-primary">
            Back to sharing Board
        </a>
    </div>
    <script>
        function handleLikeButtonClick(button) {
            const postId = button.getAttribute("data-post-id");
            const userId = button.getAttribute("data-user-id");
            const boardType = button.getAttribute("data-board-type");

            fetch(`/likes/add`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    postId: postId,
                    boardType: boardType,
                    author: { stdId: userId }
                })
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(error => { throw new Error(error.message || "Error occurred") });
                    }
                    return response.json();
                })
                .then(data => {
                    const likeCountElement = button.querySelector(".like-count");
                    likeCountElement.textContent = data.likeCount; // likeCount 업데이트

                    // 버튼 상태 업데이트
                    if (data.status === -1) {
                        button.classList.remove("btn-outline-warning");
                        button.classList.add("btn-outline-warning");
                        button.innerHTML = "👍 Like <span class='badge bg-warning'>" + data.likeCount + "</span>";
                    } else {
                        button.classList.remove("btn-outline-warning");
                        button.classList.add("btn-outline-warning");
                        button.innerHTML = "👍 Like <span class='badge bg-warning'>" + data.likeCount + "</span>";
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("좋아요 처리 중 오류가 발생했습니다.");
                });
        }
        function handleWarnButtonClick(button) {
            const postId = button.getAttribute("data-post-id");
            const userId = button.getAttribute("data-user-id");
            const boardType = button.getAttribute("data-board-type");

            fetch(`/warns/add`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    postId: postId,
                    boardType: boardType,
                    author: { stdId: userId }
                })
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(error => { throw new Error(error.message || "Error occurred") });
                    }
                    return response.json();
                })
                .then(data => {
                    const warnCountElement = button.querySelector(".warn-count");
                    warnCountElement.textContent = data.warnCount; // likeCount 업데이트

                    // 버튼 상태 업데이트
                    if (data.status === -1) {
                        button.classList.remove("btn-outline-danger");
                        button.classList.add("btn-outline-danger");
                        button.innerHTML = "👎 Warn <span class='badge bg-danger'>" + data.warnCount + "</span>";
                    } else {
                        button.classList.remove("btn-outline-danger");
                        button.classList.add("btn-outline-danger");
                        button.innerHTML = "👎 Warn <span class='badge bg-danger'>" + data.warnCount + "</span>";
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("싫어요 처리 중 오류가 발생했습니다.");
                });
        }
    </script>
</div>
</body>
</html>




