<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{sharingBoard.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{sharingBoard.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/sharingBoards}" class="btn btn-secondary">[[#{sharingBoard.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('sharingBoard')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='sharingBoard', field='sharingId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='sharingBoard', field='title', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='sharingBoard', field='content', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='sharingBoard', field='warnCount', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='sharingBoard', field='userId', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='sharingBoard', field='lectureId', required=true, type='select')}" />
                <input type="submit" th:value="#{sharingBoard.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
