<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{sharingBoard.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{sharingBoard.list.headline}]]</h1>
                <div>
                    <a th:href="@{/sharingBoards/add}" class="btn btn-primary ms-2">[[#{sharingBoard.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${sharingBoards.empty}">[[#{sharingBoard.list.empty}]]</div>
            <div th:if="${!sharingBoards.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{sharingBoard.sharingId.label}]]</th>
                            <th scope="col">[[#{sharingBoard.title.label}]]</th>
                            <th scope="col">[[#{sharingBoard.warnCount.label}]]</th>
                            <th scope="col">[[#{sharingBoard.userId.label}]]</th>
                            <th scope="col">[[#{sharingBoard.lectureId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sharingBoard : ${sharingBoards}">
                            <td>[[${sharingBoard.sharingId}]]</td>
                            <td>[[${sharingBoard.title}]]</td>
                            <td>[[${sharingBoard.warnCount}]]</td>
                            <td>[[${sharingBoard.userId}]]</td>
                            <td>[[${sharingBoard.lectureId}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/sharingBoards/edit/{sharingId}(sharingId=${sharingBoard.sharingId})}" class="btn btn-sm btn-secondary">[[#{sharingBoard.list.edit}]]</a>
                                    <form th:action="@{/sharingBoards/delete/{sharingId}(sharingId=${sharingBoard.sharingId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{sharingBoard.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
