<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{groupBoardComment.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{groupBoardComment.add.headline}]]</h1>
                <div>
                    <a th:href="@{/groupBoardComments}" class="btn btn-secondary">[[#{groupBoardComment.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('groupBoardComment')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='groupBoardComment', field='content', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='groupBoardComment', field='author', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='groupBoardComment', field='gbId', required=true, type='select')}" />
                <input type="submit" th:value="#{groupBoardComment.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
