<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{groupBoardComment.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{groupBoardComment.list.headline}]]</h1>
                <div>
                    <a th:href="@{/groupBoardComments/add}" class="btn btn-primary ms-2">[[#{groupBoardComment.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${groupBoardComments.empty}">[[#{groupBoardComment.list.empty}]]</div>
            <div th:if="${!groupBoardComments.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{groupBoardComment.gbcomId.label}]]</th>
                            <th scope="col">[[#{groupBoardComment.author.label}]]</th>
                            <th scope="col">[[#{groupBoardComment.gbId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="groupBoardComment : ${groupBoardComments}">
                            <td>[[${groupBoardComment.gbcomId}]]</td>
                            <td>[[${groupBoardComment.author}]]</td>
                            <td>[[${groupBoardComment.gbId}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/groupBoardComments/edit/{gbcomId}(gbcomId=${groupBoardComment.gbcomId})}" class="btn btn-sm btn-secondary">[[#{groupBoardComment.list.edit}]]</a>
                                    <form th:action="@{/groupBoardComments/delete/{gbcomId}(gbcomId=${groupBoardComment.gbcomId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{groupBoardComment.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
