<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{sharingFile.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{sharingFile.add.headline}]]</h1>
                <div>
                    <a th:href="@{/sharingFiles}" class="btn btn-secondary">[[#{sharingFile.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('sharingFile')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='sharingFile', field='src', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='sharingFile', field='uuid', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='sharingFile', field='fileName', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='sharingFile', field='shId', required=true, type='select')}" />
                <input type="submit" th:value="#{sharingFile.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
