<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <div layout:fragment="content">
            <div class="centralize-container">
                <h1>안녕하세요 "user.nickname"님</h1>
                <h5>당신의 오늘이 모두에게 의미 있는 시간이 되길 바래요.<br><br></h5>
                <p>오늘은 어디로 가시겠어요?</p>
                <div class="d-flex justify-content-center mt-2">
                    <a th:href="@{/groupProjects}" class="btn btn-outline-warning me-2">👨‍👩‍👧‍👦 팀플 시작</a>
                    <a th:href="@{/sharingBoards}" class="btn btn-outline-info me-2">📝 수업필기</a>
                    <a th:href="@{/communicationBoards}" class="btn btn-outline-danger">🤝 만남 게시판</a>
                </div>
            </div>
        </div>
    </body>
</html>
