<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{home.index.headline}]]</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<div layout:fragment="content">
    <div class="centralize-container">
        <!-- 사용자 이름 표시 -->
        <h1 th:text="'안녕하세요 ' + ${username} + '님'">안녕하세요!</h1>
        <h5>당신의 오늘이 모두에게 의미 있는 시간이 되길 바래요.<br><br></h5>

        <!-- 강의 이름 표시 -->
        <p th:if="${selectedLecture}" th:text="'현재 선택된 강의: ' + ${selectedLecture.name}"></p>
        <p th:if="${error}" th:text="${error}"></p>

        <!-- 폼 추가 -->
        <form th:action="@{/redirectToOtherController}" method="post">
            <input type="hidden" name="lectureId" th:value="${selectedLecture.lectureId}" />
            <input type="hidden" name="lectureName" th:value="${selectedLecture.name}" />
            <button type="submit" class="btn btn-primary">다른 컨트롤러로 이동</button>
        </form>

        <p>오늘은 어디로 가시겠어요?</p>
        <div class="d-flex justify-content-center mt-2">
            <a th:href="@{/groupProjects}" class="btn btn-outline-warning me-2">👨‍👩‍👧‍👦 팀플 시작</a>
            <a th:href="@{/sharingBoards}" class="btn btn-outline-info me-2">📝 수업필기</a>
            <a th:href="@{/communicationBoards}" class="btn btn-outline-danger">🤝 만남 게시판</a>
        </div>
    </div>

    <!-- 추가된 강의 관련 데이터 -->
    <div class="lecture-info mt-4">
        <h2>강의 정보</h2>
        <p th:if="${selectedLecture}" th:text="'강의 이름: ' + ${selectedLecture.name}"></p>
        <p th:if="${selectedLecture}" th:text="'강의 ID: ' + ${selectedLecture.lectureId}"></p>
        <p th:if="${error}" th:text="${error}"></p>
    </div>

    <!-- 전체 리스트 영역 -->
    <div class="col-md-4 mb-5">
        <div class="list-group">
            <a th:href="@{/users}" class="list-group-item list-group-item-action">[[#{user.list.headline}]]</a>
            <a th:href="@{/lectureLists}" class="list-group-item list-group-item-action">[[#{lectureList.list.headline}]]</a>
            <a th:href="@{/groupProjects}" class="list-group-item list-group-item-action">[[#{groupProject.list.headline}]]</a>
            <a th:href="@{/groupBoards}" class="list-group-item list-group-item-action">[[#{groupBoard.list.headline}]]</a>
            <a th:href="@{/groupBoardFiles}" class="list-group-item list-group-item-action">[[#{groupBoardFile.list.headline}]]</a>
            <a th:href="@{/groupBoardComments}" class="list-group-item list-group-item-action">[[#{groupBoardComment.list.headline}]]</a>
            <a th:href="@{/noticeBoards}" class="list-group-item list-group-item-action">[[#{noticeBoard.list.headline}]]</a>
            <a th:href="@{/questionBoards}" class="list-group-item list-group-item-action">[[#{questionBoard.list.headline}]]</a>
            <a th:href="@{/questionComments}" class="list-group-item list-group-item-action">[[#{questionComment.list.headline}]]</a>
            <a th:href="@{/sharingBoards}" class="list-group-item list-group-item-action">[[#{sharingBoard.list.headline}]]</a>
            <a th:href="@{/sharingComments}" class="list-group-item list-group-item-action">[[#{sharingComment.list.headline}]]</a>
            <a th:href="@{/oldExams}" class="list-group-item list-group-item-action">[[#{oldExam.list.headline}]]</a>
            <a th:href="@{/oldExamFiles}" class="list-group-item list-group-item-action">[[#{oldExamFile.list.headline}]]</a>
            <a th:href="@{/lectureRequests}" class="list-group-item list-group-item-action">[[#{lectureRequest.list.headline}]]</a>
            <a th:href="@{/communicationBoards}" class="list-group-item list-group-item-action">[[#{communicationBoard.list.headline}]]</a>
            <a th:href="@{/alarms}" class="list-group-item list-group-item-action">[[#{alarm.list.headline}]]</a>
            <a th:href="@{/sharingFiles}" class="list-group-item list-group-item-action">[[#{sharingFile.list.headline}]]</a>
        </div>
    </div>
</div>
</body>
</html>
