<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{lectureList.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{lectureList.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/lectureLists}" class="btn btn-secondary">[[#{lectureList.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('lectureList')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='lectureList', field='lectureId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='lectureList', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='lectureList', field='stdId', required=true, type='select')}" />
                <input type="submit" th:value="#{lectureList.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
